{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- Карусель -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'core/images/carousel_1.jpg' %}"}>
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/images/carousel_2.jpg' %}"}>
    </div>
    <div class="carousel-item">
      <img src="{% static 'core/images/carousel_3.jpg' %}"}>
    </div>
    <div class="carousel-caption">
          <h1 class="display-2">Инвестирование</h1>
          <h3>Приумножьте свой капитал</h3>
          <a
                  class="btn btn-light btn-lg btn-custom-theory"
                  href="https://habr.com/ru/companies/dbtc/articles/527050/"
                  role="button"
                  target="_blank"
                  rel="noopener noreferrer"
          >
            Теория
          </a>
          <a
                  class="btn btn-light btn-lg btn-custom-doit"
                  href="https://www.tbank.ru/invest/stocks/"
                  role="button"
                  target="_blank"
                  rel="noopener noreferrer"
          >
            К делу!
          </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Вводная информация -->
<div class="container-fluid bg-secondary-subtle">
  <div class="row jumbotron align-items-center">
    <div class="col-md-9 col-lg-9 col-xl-10">
      <p class="lead">
        Для предоставления актуальной информации о котировках акций и облигаций мы
        используем Tinkoff Invest API — мощный и удобный инструмент, который
        обеспечивает доступ к данным с биржи в режиме реального времени.
        Это позволяет вам быть всегда в курсе изменений на рынке и оперативно
        реагировать на колебания цен.
      </p>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2">
      <a
              href="https://www.tbank.ru/finance/blog/invest-first-steps/"
              target="_blank"
              rel="noopener noreferrer"
      >
        <button class="btn btn btn-custom-3">Читать...</button>
      </a>
    </div>
  </div>
</div>
<!-- Что можно делать на сайте -->
<div class="container-fluid">
  <div class="row text-center alert">
    <div class="col-12">
      <h1 class="display-6">
        Аналитика
      </h1>
      <hr>
      <p class="lead">
        В современном мире управление личными финансами и инвестирование
        становятся неотъемлемой частью финансовой грамотности.
        Инвестирование позволяет не только сохранить свои сбережения,
        но и значительно увеличить их со временем.
        Однако успешное инвестирование требует не только знаний и стратегии,
        но и постоянного контроля над своими активами.
        Умение анализировать доходы, расходы и динамику котировок акций и
        облигаций помогает принимать взвешенные решения и минимизировать риски.
        Именно поэтому мы создали приложение, которое станет вашим надежным
        инструментом для управления финансами и отслеживания инвестиций.
      </p>
      <p class="lead">
        Наше приложение предлагает вам полный контроль над вашими финансами:
        вы можете легко следить за своими доходами и расходами,
        анализировать транзакции и планировать бюджет.
        Кроме того, вы получаете доступ к графикам цен на акции и облигации,
        что делает процесс инвестирования более прозрачным и понятным.
        Мы стремимся сделать управление финансами максимально удобным,
        наглядным и эффективным, чтобы вы могли сосредоточиться на
        достижении своих финансовых целей.
      </p>
      <p class="lead">
        Начните использовать наше приложение уже сегодня и сделайте шаг к стабильному
        финансовому будущему!
      </p>
    </div>
  </div>
</div>
<!-- Что можно делать на сайте (иконки)-->
<div class="container-fluid padding">
  <div class="row alert text-center padding">
    <div class="col-sm-12 col-md-6">
      <a href="{% url 'stocks_graphs'%}">
        <i class="fa-solid fa-money-bill-trend-up"></i>
      </a>
      <h3>Отслеживание цен</h3>
      <p>Треккинг котировок для своевременного принятия решений с использованием Tinkoff Invest API</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <a href="{% url 'stocks_bag'%}">
        <i class="fa-solid fa-piggy-bank"></i>
      </a>
      <h3>Мой портфель</h3>
      <p>Мониторинг личного портфеля ценных бумаг в Тинькофф Инвестициях</p>
    </div>
    <hr class="my-4">
  </div>
</div>
<!-- Фиксированное изображение -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">

    </div>
  </div>
</figure>
<!-- Ссылка на статьи???-->
<div class="container-fluid padding">
  <br>
  <div class="row padding">
    <div class="offset-lg-2 col-lg-4">
      <h2>Что-то про инвестирование</h2>
      <p>
        Наше приложение создано для тех, кто хочет взять под контроль свои
        финансы и уверенно шагнуть в мир инвестирования.
        Мы сочетаем удобство, надежность и инновационные технологии,
        чтобы помочь вам достигать своих финансовых целей.
        Независимо от того, являетесь ли вы начинающим инвестором или
        опытным финансовым стратегом, наше приложение станет вашим верным
        помощником на пути к финансовому благополучию.
      </p>
      <br>
      <p>
        Начните использовать наше приложение уже сегодня и сделайте шаг
        к стабильному финансовому будущему!
      </p>
      <br>
    </div>
    <div class="col-lg-4">
      <br>
      <img src="{% static 'core/images/investment.jpg'%}" alt="" class="img-fluid">
    </div>
  <hr class="my-4">
  </div>
</div>
<!-- Гифки -->
<div class="text-center">
  <button type="button" id="gifs-button" class="btn btn-custom-3" data-bs-toggle="collapse" data-bs-target="#gifs">
    Открыть блок
  </button>
</div>
<div id="gifs" class="collapse">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-sm-6 col-md-4">
        <img src="{% static 'core/images/gif-cafe.gif' %}" class="gif">
      </div>
      <div class="col-sm-6 col-md-4">
        <img src="{% static 'core/images/gif-cat.gif' %}" class="gif">
      </div>
      <div class="col-sm-6 col-md-4">
        <img src="{% static 'core/images/gif-witch.gif' %}" class="gif">
      </div>
    </div>
  </div>
</div>

{% endblock %}