body, html {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #222;
}

/* Навигационная панель */
nav {background-color: #3f3f3f !important}

.navbar-nav li {padding-right: 20px;}

.nav-link {
    font-size: 1.1rem !important;
    color: #ccc !important;
}

.nav-link:hover {color: white !important;}
.nav-link:focus {color: white !important;}

.navbar-brand {
    font-size: 1.5rem !important;
    color: #33CC99;
}

.dropdown-menu-nav {background-color: #3f3f3f;}

.dropdown-item {color: #ccc;}
.dropdown-item:hover {background-color: #3f3f3f; color: white}

/* Настройка кнопок */

.btn-custom-1 {
    background-color: rgba(255, 102, 51, 0.25); /* Коралловый 25% */
    color: #3f3f3f;
    border-color: #FF6633;
}
/* При наведении на кнопку */
.btn-custom-1:hover {
    background-color: rgba(255, 102, 51, 1);
    border-color: rgba(255, 102, 51, 1);
    color: white;
}
.btn-custom-2 {
    background-color: rgba(51, 204, 153, 0.25); /* Мятный 25% */
    color: #3f3f3f;
    border-color: rgba(51, 204, 153, 1);
}
.btn-custom-2:hover {
    background-color: rgba(51, 204, 153, 1);
    border-color: rgba(51, 204, 153, 1);
    color: white;
}

.btn-custom-1-nav {
    background-color: rgba(255, 102, 51, 0.75);
    color: white;
    border-color: #FF6633;
}

.btn-custom-1-nav:hover {
    background-color: #993300;
    color: white;
}

.btn-custom-2-nav {
    background-color: #33CC99;
    color: #3f3f3f;
}
.btn-custom-2-nav:hover {
    background-color: #009966;
    color: #3f3f3f;
}
/* При удерживании кнопки */
.btn-custom-2-nav:focus {
    background-color: #009966;
    border: none;
    color: white;
}

.btn-custom-3 {
    background-color: rgba(63, 63, 63, 0.0);
    color: #3f3f3f;
    border-color: rgba(63, 63, 63, 1);
}
/* При наведении на кнопку */
.btn-custom-3:hover {
    background-color: rgba(63, 63, 63, 1);
    border-color: rgba(63, 63, 63, 1);
    color: white;
}

.btn-custom-theory {
    background-color: rgba(51, 204, 153, 0.5);
    color: white;
    border-color: rgba(51, 204, 153, 1);
}
.btn-custom-theory:hover {
    background-color: rgba(51, 204, 153, 1);
    border-color: rgba(51, 204, 153, 1);
    color: white;
}

.btn-custom-doit {
    background-color: rgba(255, 102, 51, 0.5); /* Коралловый 25% */
    color: white;
    border-color: #FF6633;
}
/* При наведении на кнопку */
.btn-custom-doit:hover {
    background-color: rgba(255, 102, 51, 1);
    border-color: rgba(255, 102, 51, 1);
    color: white;
}

/* Ползунок */

/* Стиль для включенного состояния */
.form-check-input:checked {
    background-color: #33CC99; /* Зеленый цвет для включенного состояния */
    border-color: #3f3f3f;
}
.form-check-input:checked:focus {
    box-shadow: none; /* Убираем тень при фокусе */
    border-color: #3f3f3f;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1)'/></svg>");
}

/* Стиль для ползунка (кружка внутри) */
.form-check-input {
    width: 40px; /* Ширина ползунка */
    height: 20px; /* Высота ползунка */
    border-radius: 10px; /* Закругление углов */
    border-color: #3f3f3f;
    transition: background-color 0.3s ease; /* Плавная анимация */
}
/* Стиль для кружка внутри ползунка */
.form-check-input:focus {
    box-shadow: none; /* Убираем тень при фокусе */
    border-color: #3f3f3f;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}

/* Карусель */
.carousel-inner {
    height: 450px !important;
}

.carousel-item img {
    height: 100%;
    transform: translateY(-30%);
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    top: 65%;
    transform: translateY(-80%);
    text-shadow: 5px 5px 10px #000;
}

/* Основная часть домашней страницы */
.jumbotron {
    padding: 1em;
    border-radius: 0;
    width: 75%;
    margin: 0 auto;
}

.padding {
    padding-bottom: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top 2em;
}

hr {
    border-top: 2px solid;
    width: 95%;
    margin-top: .3em;
    margin-bottom: 1em;
}

.fa-money-bill-trend-up { color: #33CC99}
.fa-piggy-bank { color: #FF6633}

.fa-money-bill-trend-up, .fa-piggy-bank {
    font-size: 4em;
    margin: .5em;
}

/* Поведение при изменении размера экрана */
@media (min-width: 1100px) {
    .carousel-inner img {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .carousel-caption .display-2 {
        font-size: 2em !important;
    }
    .carousel-caption h3 {
        font-size: 1em !important;
    }
    .jumbotron {
        width: 90%;
    }
    .alert {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .display-4 {
        font-size: 1.5em !important;
    }
}

/* Фото на заднем фоне */
#fixed {
    height: 400px;
    border-top: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    background: url("../images/landscape.jpg") no-repeat center center fixed;
    background-blend-mode: multiply;
    background-color: lightblue;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

/* Гифики */
#gifs-button {
    margin-bottom: 20px;
}

#gifs img {
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 20px;
}

/* Футтер и иконки */
.social a {
    font-size: 3em;
    padding: 20px;
}

.fa-github {color: black;}
.fa-youtube {color: #c4302b;}
.fa-instagram {color: #c1558b;}
.fa-google-drive {color: #fbbc05;}

.fa-github:hover, .fa-youtube:hover,
.fa-instagram:hover, .fa-google-drive:hover {
    color: #ccc;
}

footer {
    background-color: #3f3f3f;
    color: white;
    padding-top: 50px;
    border-top: 5px solid silver;
}

/* Таблица транзакций */
th {
    background-color: #3f3f3f !important;
    color: white !important;
}
th.text-delete {
    color: #FF6633 !important;
}

.paginator {background-color: #3f3f3f !important;}
.paginator-bar {
    background-color: #3f3f3f !important;
    border-color: #3f3f3f !important;
}

.page-link {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}

a span {color: white;}
a span:hover {color: #3f3f3f;}

/* alert-info */

.alert-custom {
    background-color: rgba(51, 204, 153, 0.25);
    color: #3f3f3f;
    border-color: #33CC99;
}

/* Для кастомного выпадающего списка*/
/* Стили для прокручиваемого выпадающего меню */
/* Стиль для элементов списка */
.asset-item {
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #3f3f3f;
}

.asset-item:hover {
    background-color: rgba(51, 204, 153, 0.25); /* Мятный 25% */
    color: #3f3f3f;
    border-color: #33CC99;
}

/* Автоматическая ширина выпадающего списка */
.dropdown-auto-width {
    min-width: 100%; /* Минимальная ширина - как у поля ввода */
    max-width: 100vw; /* Максимальная ширина - текущая ширина экрана */
    width: auto; /* Ширина подстраивается под содержимое */
}

/* Обрезка текста при переполнении */
.text-truncate {
    white-space: nowrap; /* Запрещаем перенос текста */
    overflow: hidden; /* Скрываем переполнение */
    text-overflow: ellipsis; /* Добавляем многоточие при обрезке */
}

/* Убедитесь, что элементы списка занимают всю доступную ширину */
.dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: block;
    width: 100%;
}

/* Подсветка полей ввода */
.form-select:focus, .form-control:focus {
    border-color: rgba(51, 204, 153, 0.8);
    box-shadow: 0 0 0 5px rgba(51, 204, 153, 0.25);
    outline: 0 none;
}
.form-select, .form-control {border-color: rgba(63, 63, 63, 0.4);}

/* Скрытие элементов при фильтрации */
.asset-item[style*="display: none"] {
    display: none !important;
}

/* Прокрутка для длинных списков */
.dropdown-stocks-menu {
    max-height: 400px;
    overflow-y: auto;
    left: 0 !important;
    transform: none !important; /* Отключаем трансформации Bootstrap */
    margin-top: 0.5rem; /* Отступ от поля ввода */
}

