{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="card shadow-lg px-3 pt-3 bg-light col-xs-10 col-md-6 offset-xs-1 offset-md-3">
    <div class="card-body text-center">
        <!-- Заголовок -->
        <h1 class="fw-normal text-center h2 mb-4">Пароль успешно изменен!</h1>

        <!-- Сообщение -->
        <p class="lead">Вы успешно изменили пароль.</p>

        <!-- Ссылка на профиль -->
        <div class="text-center my-3">
            <a href="{% url 'users:profile' %}" class="btn btn-custom-2">Вернуться в профиль</a>
        </div>
    </div>
</div>
{% endblock %}